@import 'nav';

.cursor {
  height: 3vh;
  width: 3vh;
  max-height: 25px;
  max-width: 25px;
  background-color: $bg;
  opacity: 0.5;
  border: 0.5px solid $primary-l2;
  border-radius: 50%;
  box-shadow: 0 0 5px $primary-l2;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 100;
  pointer-events: none;
  transition: opacity 0.2s ease;

  div {
    height: 100%;
    width: 100%;
    box-shadow: inset 0 0 5px $primary-l2;
    border-radius: 50%;
  }

  &.expand {
    animation: cursorexpand 0.4s ease forwards;
  }
}

@import 'home';
@import 'articles';
@import 'projects';

.notfound {
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2em;

  .status {
    color: $text-l;
    padding: 5px 10px;
    letter-spacing: 0.1em;
    border-right: 3px solid rgba($color: $primary-l2, $alpha: 0.4);
  }

  .detail {
    color: rgba($color: $primary-d1, $alpha: 0.4);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-left: 10px;
  }
}

@import 'footer';
