header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  background-color: $text-d;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 6;
  box-shadow: 0 0 5px $text-d;

  .logo {
    flex: 2;

    .design {
      color: $text-l;
      font-size: 1.5rem;
      text-shadow: 0 0 5px $text-l;

      @include media($breakpoint-sm) {
        font-size: 1.2rem;
      }
    }
  }

  nav {
    .bars {
      display: inline-block;
      height: 50px;
      width: 50px;
      background: none;
      border: none;
      outline: none;
      padding: 10px 20px;
      align-self: flex-end;
      align-items: flex-end;

      i {
        font-size: 1.2rem;
        color: $text-l;
        text-shadow: 0 0 5px $text-l;
      }
    }

    .links {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0;
      position: fixed;
      top: 70px;
      left: 0;
      background-color: rgba($color: $text-d, $alpha: 0.95);
      transition: all 1s ease-out;
      z-index: 6;
      clip-path: circle(0 at 90% -10%);
      -webkit-clip-path: circle(0 at 90% -10%);
      pointer-events: none;

      li {
        margin: 0 0 50px;
        transition: all 0.4s ease-out;
        opacity: 0;

        &:nth-child(1) {
          transition-delay: 0.2s;
        }
        &:nth-child(2) {
          transition-delay: 0.4s;
        }
        &:nth-child(3) {
          transition-delay: 0.6s;
        }

        a {
          color: $text-l;
          display: inline-block;
          width: 100%;
          height: 100%;
          padding: 15px 20px;
          transition: all 0.2s ease;

          &:hover {
            background-color: $primary;
            color: $text-d;
          }
        }
      }

      &.show {
        clip-path: circle(120vw at 90% -10%);
        -webkit-clip-path: circle(120vw at 90% -10%);
        pointer-events: all;

        li {
          opacity: 1;
        }
      }
    }
  }

  .link-shadow {
    height: 200vh;
    width: 40vw;
    background-color: rgba($color: $primary-l1, $alpha: 0.80);
    position: absolute;
    top: -45vh;
    left: -25vw;
    transform: rotate(30deg);
    transition: all 0.2s ease;
    z-index: 12;
  }

  @include media($breakpoint-sm) {
    padding: 10px 10%;
  }
}
