.design {
  &, & * {
    font-family: $font-design;
  }
}
code, pre, .code {
  &, & * {
    font-family: $font-code;
  }
}

.link,
.hover-link:hover {
  &, & * {
    color: $primary-l1 !important;
    font-weight: 100;
    text-shadow: 0 0 1px $primary-d2;
    transition: color 0.2s ease;
  }
}

.shadow {
  width: 25%;
  height: 200%;
  background-color: rgba($color: $text-l, $alpha: 0.2);
  position: absolute;
  top: -50%;
  left: 100;
  transform: rotateZ(30deg);
  transform-origin: top;
  z-index: 1;
}

.float {
  display: inline-block;
  padding: 20px 40px;
  background-color: $bg;
  border-radius: 36px;
  box-shadow: 0 0 8px $primary-l1;
}

@mixin media($max-width) {
  @media screen and (max-width: $max-width) {
    & {
      @content;
    }
  }
}

@keyframes tag {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
